* {
  margin: 0;
  padding: 0;
}
/* font styles */
.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}
.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}
.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}
.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}
.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}
.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}
.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

/* shared styles */
.text {
  font-size: 16px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}
h1 {
  font-size: 56px;
  font-weight: bold;
  line-height: auto;
  color: #0e0e0e;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: auto;
  color: #0e0e0e;
}
button {
  border: none;
  background-color: #006a50;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 34px;
  border-radius: 8px;
}
.bluebg {
  background-color: #d5e1f5;
}
.greenbg {
  background-color: #c6e4d6;
}
.yellowbg {
  background-color: #f7ebcf;
}

/* body styles */
body {
  background-color: #f5f5f5;
}

/* main styles */
main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 80px;
  width: 1280px;
  margin: 0 auto;
}

/* hero section */
.hero {
  background-color: #c6e4d6;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 60px;
  border-radius: 24px;
}
.hero .content {
  width: 622px;
}
.hero img {
  width: 474px;
}
.hero h1 {
  margin-top: 16px;
  margin-bottom: 24px;
}
.hero h3 {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24;
}

/* future section */
.future {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.future .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.vision-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.vision {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  border-radius: 16px;
}
.vision .content{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.vision img {
  width: 64px;
}
.vision h4{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
}
.vision button{
    padding: 11px 20px;
    width: fit-content;
}
.bluebg button{
    background: #5490f5;
}
.greenbg button{
    background: #09a15c;
}
.yellowbg button{
    background: #ffc239;
}